/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
.featureBlock-wrapper.featureBlock-darker {
  background-color: #eeeeee; }

.featureBlock-wrapper {
  padding: 100px 0; }
  .featureBlock-wrapper .featureBlock-Heading h2 {
    font-weight: bold;
    text-align: center;
    padding: 0 0 24px 0;
    margin: 0 auto; }
  .featureBlock-wrapper .featureBlock-Heading h4 {
    text-align: center;
    padding: 12px 12px 48px 12px; }
  .featureBlock-wrapper .featureBlock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .featureBlock-wrapper .featureBlock-container .featureBlock {
      padding: 12px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%; }
      .featureBlock-wrapper .featureBlock-container .featureBlock i {
        text-align: center; }
        .featureBlock-wrapper .featureBlock-container .featureBlock i.colors {
          color: #f8a000; }
      .featureBlock-wrapper .featureBlock-container .featureBlock h2 {
        text-align: center;
        font-weight: bold;
        padding: 12px 0 0 0; }
      .featureBlock-wrapper .featureBlock-container .featureBlock i#icon-size {
        font-size: 100px; }
  .featureBlock-wrapper .featureBlock-text {
    padding: 12px 0 0 0;
    line-height: 1.8;
    color: #93a4aa;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .featureBlock-wrapper .featureBlock-text p {
      max-width: 400px;
      padding: 0 48px; }

@media (min-width: 1px) and (max-width: 768px) {
  .featureBlock-wrapper {
    padding: 50px 0; }
    .featureBlock-wrapper .featureBlock-Heading h2 {
      font-size: 28px; }
    .featureBlock-wrapper .featureBlock-Heading h4 {
      font-size: 18px; }
    .featureBlock-wrapper .featureBlock-container {
      display: flex;
      flex-direction: column; }
      .featureBlock-wrapper .featureBlock-container .featureBlock {
        flex: 1 1 auto; }
    .featureBlock-wrapper .featureBlock-text {
      flex-direction: column; }
      .featureBlock-wrapper .featureBlock-text p {
        padding: 0 12px 12px 12px; } }
