/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.project-wrapper {
  padding: 100px 0; }
  .project-wrapper .container .project-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 24px; }
    @media (min-width: 1px) and (max-width: 768px) {
      .project-wrapper .container .project-container {
        flex-direction: column; } }
    .project-wrapper .container .project-container a {
      font-size: 100px;
      text-align: center;
      overflow: none;
      color: #2a3a3f;
      text-decoration: none;
      transition: all .3s; }
      .project-wrapper .container .project-container a:hover:nth-child(1) {
        color: #6441A4; }
      .project-wrapper .container .project-container a:hover:nth-child(2) {
        color: orange; }
      .project-wrapper .container .project-container a:hover:nth-child(3) {
        color: black; }
      .project-wrapper .container .project-container a .project-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .project-wrapper .container .project-container a .project-block .projectBlock-text {
          padding: 12px 0 0 0;
          line-height: 1.8;
          color: #93a4aa;
          text-align: center;
          margin: 0 auto;
          display: flex;
          justify-content: center; }
          .project-wrapper .container .project-container a .project-block .projectBlock-text p {
            max-width: 400px;
            padding: 0 48px;
            width: 100%; }
            @media (min-width: 1px) and (max-width: 768px) {
              .project-wrapper .container .project-container a .project-block .projectBlock-text p {
                padding: 24px 12px 48px 12px; } }
