@import "spacingUnits";


.bannerHead {
	justify-content: center;
	align-items: center;
	display: flex;
	/*background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);*/
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255,255,255, 0.2)),url(/images/tampa2.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	.bannerHead-content {
		background-color: rgba(0,0,0,0.55);
		color: white;
		text-align: center;
		padding: $spacingBase;
		h1 {
			padding: $spacingSm 0;
			font-weight: bold;
		}
	}
}