@import "spacingUnits";
@import "mediaQueries";
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.contact-wrapper {
    background-color: #f8a000;
    .container {
        .contact-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 175px 0;
            margin: 0 100px;
            @include phone {
                flex-direction: column;
                justify-content: center;
            }
            a {
                text-decoration: none;
                padding: 0 $spacingBase;
                text-align: center;
                color: #2a3a3f;
                &:hover {
                    
                }
                .contact-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 $spacingSm;
                    width: 100%;
                    position: relative;
                    @include phone {
                        margin: $spacingBase 0;
                    }
                    i:nth-child(2) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        transition: all .3s;
                        &:hover {
                            font-size: 200px;
                            opacity: 0;
                        }
                    }
                    .contactBlock-text {
                        h2 {
                            padding: $spacingSm 0;
                            color: #2a3a3f;
                            font-weight: bold;
                            transition: all .1s;
                        }
                        text-align: center;
                        p {
                            color: #2a3a3f;
                        }
                    }
                }
            }
        }
    }
}