@import "spacingUnits";
@import "mediaQueries";

.featureBlock-wrapper.featureBlock-darker {
    background-color: #eeeeee;
}

.featureBlock-wrapper {
    padding: 100px 0;

    .featureBlock-Heading {
        h2 {
            font-weight: bold;
            text-align: center;
            padding: 0 0 $spacingBase 0;
            margin: 0 auto;
        }
        h4 {
            text-align: center;
            padding: $spacingSm $spacingSm $spacingLg $spacingSm;
        }
    }

    .featureBlock-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .featureBlock {
            padding: $spacingSm 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            i {
                text-align: center;
                &.colors {
                    color: #f8a000;
                }
            }

            h2 {
                text-align: center;
                font-weight: bold;
                padding: $spacingSm 0 0 0;
            }
            i#icon-size {
                font-size: 100px;
            }
        }
    }
    .featureBlock-text {
        padding: $spacingSm 0 0 0;
        line-height: 1.8;
        color: #93a4aa;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        p {
            max-width: 400px;
            padding: 0 $spacingLg;
        }
    }
}

@include phone {
    .featureBlock-wrapper {
        padding: 50px 0;
        .featureBlock-Heading {
            h2 {
                font-size: 28px;
            }
            h4 {
                font-size: 18px;
            }
        }

        .featureBlock-container {
            display: flex;
            flex-direction: column;
            .featureBlock {
                flex: 1 1 auto;
            }
        }
        .featureBlock-text {
            flex-direction: column;
            p {
                padding: 0 $spacingSm $spacingSm $spacingSm;
            }
        }
    }
}