@import "spacingUnits";
@import "mediaQueries";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.footer-wrapper {
    background-color: #2a3a3f;
    .container {
                img {
                    display: block;
                    margin: auto;
                    padding: $spacingBase;
                }
        p {
            text-align: center;
            padding: 0 0 30px 0;
        }
    }
}

