

$tablet-width: 1px;
$desktop-width: 1250px;
$medium-width: 992px;
$sm-width: 768px;
$xsm-width: 480px;

@mixin phone {
	@media (min-width: #{$tablet-width}) and (max-width: #{$sm-width}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin notdesktop {
   @media (max-width: #{1089px})  {
      @content;
   }
}
